@font-face {
  font-family: "RainyHearts";
  src: url('./assets/rainy-hearts.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "RainyHearts", sans-serif;
  margin: 0;
}